@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
.navbar {
  height: 3.5rem;
}

.upper-option a {
  color: black;
}

#body{
  background-image: url('https://media.istockphoto.com/id/1274274178/vector/online-job-interview-characters-ask-questions-to-applicant-about-work-history-skill.jpg?s=2048x2048&w=is&k=20&c=34aS6yOeoRDyv900hkA3s_0Ef5l4cr0b_9S-zKFhvnU=');
 background-size: cover;
}
#main {
  height: 85vh;
  margin-top: 6.9rem;
  background-image:url('');
  background-size: cover;
}
#sub-main {
  margin: auto;
  margin-top: 20rem;
  border: 2px solid rgb(72, 66, 66);
}
section {
  position: absolute;
  width: 26vw;
  height: 58vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: 22vh;
  margin-top: 5vh;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
section span:hover {
  background: #f5e08e;
  transition: 0s;
}

section .signin {
  position: absolute;
  width: 400px;
  background: #2222228a;
  backdrop-filter: blur(1px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(2, 5, 0, 0);
}
section .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 {
  font-size: 2em;
  color: #222222;
  text-transform: uppercase;
}
section .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: whitesmoke;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: black;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: black;
}
.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a {
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2) {
  color: #f5e08e;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background:#313949;
  color: white;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active {
  opacity: 0.6;
}
@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
